.grid{        
    background-color:rgb(27, 27, 31);
    height: 80vh;
    width: 80vw;

    display: grid;
    /*3 colunas*/
    grid-template-columns: 1fr 1fr 1fr;
    /*3 linhas*/
    grid-template-rows: 1fr 1fr 1fr;
    /*Margem externa*/
    grid-gap: 5px;
  }

  .gridSmall{    
    display: grid;                
  }

  .gridSmall > div{
    text-align: center;    
    word-break: none;    
  }


  .grid > div:hover, .grid > div:focus{  
    color:rgb(228, 228, 228);
    text-decoration: none;
    cursor: pointer;       
    background:#53a7ea;    
    animation: activeGridItem 2s;
  }
 
  @keyframes activeGridItem {
    from {
      font-size: 100%;
    }
    to {
      font-size: 120%;
      background:#fffc45 !important;    
    }
  }

  .centroFull, .grid > div{
    display: grid;
    align-content: center;
    justify-content: center;
  }

  .grid > div{            
    background-color:rgb(25, 25, 25);        
    height: 100%;    
    cursor: pointer;
  }

 
  .radius , .grid > div, .grid{
    border-style:inset;
    border-width:1px;
    border-color:rgb(50, 50, 56);
    border-radius:4px;
  }

  .rad3{
    border-radius:10em !important;    
  }
  
 
  a{
    text-decoration: none;
    cursor:pointer;
  }

  .floatMenu{
    display: none;
    row-gap: 4px;
    position: fixed;    
    padding: 1em;        
    cursor:pointer;
    right: 1em;
  }

  .floatMenu .head{
    text-align: center;
    font-size: 20px;
    background-color: #53a7ea;
  }

  .softbox , .floatMenu{    
      border-style: inset;
      border-width: 1px;
     border-radius: 7px;
     border-color:black;
     background-color:#1f1f1f
  }

  