menu li , legend{
    padding: 2px 10px;    
    display: inline-block;
    /* visual do link */
    border-style: inset;
    border-width: 1px;
    border-color: #53a7ea;        
    font-size: 2rem;        
    border-radius:7px;    
  }

  @keyframes active {
    from {
      background-color: rgb(0, 0, 0);
      color:247, 245, 245;
    }
    to {
      background-color: #53a7ea;
      color:rgb(247, 245, 245);
    }
  }

  menu{
    text-align: center;
    padding: 10px;
    margin:10px;    
    text-transform: uppercase;    
  }
 
menu .active, menu li:hover, menu li:focus {
    color:247, 245, 245;
    text-decoration: none;
    cursor: pointer;       
    background:#53a7ea;    
    animation: active 0.2s;
  }
    
  /*responsividade mobile*/
  @media (max-width: 600px) {
      menu li{
        display: grid;
        font-size: 1em;
        letter-spacing: 3px;
        line-height: 1em;
      }

    }