fieldset{
    border-radius:4px;      
}

.temaBlack{
    background-color: rgb(30, 30, 30);
    color:rgb(228, 228, 228);
}

.temaWhite{
    color: rgb(53, 46, 46);
    background-color:rgb(228, 228, 228);
}

a:visited, a{
    color:rgb(228, 228, 228);
}

main a:hover, a:focus{
    color:rgb(53, 132, 206);    
}

menu li {            
     list-style-type:disc;
     position: relative;
}

fieldset > form {
    display: grid !important;
    padding: 17px;
    line-height: 36px;
    margin-bottom: 1em;
    width: 50%;
}

legend{
    text-transform: uppercase;
    padding:0.4em;
    margin:0.9em;
    border-radius:4px;
    font-size: 1em;
}

body{
    margin: 10px;
    padding: 10px;
    }

code{ color:darkorange;}

    input{
        background-color:rgb(235, 235, 235)
    }